.contents {
    width: 80%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.contents::-webkit-scrollbar {
    width: 12px;
}

.contents::-webkit-scrollbar-track {
    background: #f5ee9e;
    border-radius: 10px;
}

.contents::-webkit-scrollbar-thumb {
    background-color: #ab3428;
    border-radius: 10px;
    border: 3px solid #f5ee9e;
}

.contents::-webkit-scrollbar-thumb:hover {
    background-color: #3b8ea5;
}


.content {
    width: 100%;
    overflow-y: auto;
    display: none;
    max-height: 100%;
}

.content::-webkit-scrollbar {
    width: 12px;
}

.content::-webkit-scrollbar-track {
    background: #f5ee9e;
    border-radius: 10px;
}

.content::-webkit-scrollbar-thumb {
    background-color: #ab3428;
    border-radius: 10px;
    border: 3px solid #f5ee9e;
}

.content::-webkit-scrollbar-thumb:hover {
    background-color: #3b8ea5;
}