html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #2d728f;
    font-family: monospace;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
label {
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: #ab3428;
    opacity: .4;
    transition: opacity .4s ease-in-out;
    display: block;
    width: calc(100% - 48px);
    text-align: right;
    z-index: 100;
    user-select: none;
}
input[type="radio"] {
    display: none;
    width: 0;
}
label:hover, input[type="radio"]:checked + label {
    opacity: 1;
}
.popup {
    width: 80%;
    height: 80%;
    min-height: 480px;
    max-height: 480px;
    border-radius: 48px;
    box-sizing: border-box;
    border: 16px solid #3b8ea5;
    background-color: #f5ee9e;
    overflow: hidden;
    box-shadow: 16px 16px 48px #2e364330;
    display: flex;
}
.tabs {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}
.marker {
    position: absolute;
    width: 100%;
    height: 200%;
    display: flex;
    flex-direction: column;
    top: calc(-100%);
    left: 0;
    transition: transform .2s ease-in-out;
}
.marker #top, .marker #bottom {
    background-color: #f49e4c;
    box-shadow: 32px 32px 48px #2e364315;
}
.marker #top {
    height: calc(50%);
    margin-bottom: auto;
    border-radius: 0 0 32px 0;
}
.marker #bottom {
    height: calc(50% - 72px);
    border-radius: 0 32px 0 0;
}
#tab1:checked ~ .marker { transform: translateY(calc(calc(50% / 6) * 0)); }
#tab2:checked ~ .marker { transform: translateY(calc(calc(50% / 6) * 1)); }
#tab3:checked ~ .marker { transform: translateY(calc(calc(50% / 6) * 2)); }
#tab4:checked ~ .marker { transform: translateY(calc(calc(50% / 6) * 3)); }
#tab5:checked ~ .marker { transform: translateY(calc(calc(50% / 6) * 4)); }
#tab6:checked ~ .marker { transform: translateY(calc(calc(51% / 6) * 5)); }

/* modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .success {
    color: green;
  }
  
  .error {
    color: red;
  }
  